<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>ordermypizza.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>datastore</servlet-name>
		<servlet-class>ordermypizza.DatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>datastore</servlet-name>
		<url-pattern>/datastore</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>enqueue</servlet-name>
		<servlet-class>ordermypizza.Enqueue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enqueue</servlet-name>
		<url-pattern>/task</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>ordermypizza.Worker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>customersignin</servlet-name>
		<servlet-class>ordermypizza.CustomerSignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customersignin</servlet-name>
		<url-pattern>/customersignin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>customerprofile</servlet-name>
		<servlet-class>servelts.CustomerProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerprofile</servlet-name>
		<url-pattern>/customerprofile</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>datastore</web-resource-name>
			<url-pattern>/datastore</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
