<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>ordermypizza.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>datastore</servlet-name>
		<servlet-class>servlets.DatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>datastore</servlet-name>
		<url-pattern>/datastore</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>enqueue</servlet-name>
		<servlet-class>servlets.Enqueue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enqueue</servlet-name>
		<url-pattern>/task</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>servlets.Worker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>customerprofile</servlet-name>
		<servlet-class>servlets.CustomerDatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerprofile</servlet-name>
		<url-pattern>/customerprofile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pizzashopprofile</servlet-name>
		<servlet-class>servlets.PizzaShopDatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pizzashopprofile</servlet-name>
		<url-pattern>/pizzashopprofile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pizzafactoryprofile</servlet-name>
		<servlet-class>servlets.PizzaFactoryDatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pizzafactoryprofile</servlet-name>
		<url-pattern>/pizzafactoryprofile</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>datastore</web-resource-name>
			<url-pattern>/datastore</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>
